<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")

    @RenderSection("styles", required: false)

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")

</head>
<body>
    
    @Html.Partial("_TopNavbar")

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center">
            <p>&copy; @DateTime.Now.Year - MATA Mimarlık</p>
        </footer>
    </div>

    <div id="mata-generic-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/ts")

    <script type="text/javascript">

        MATA.Utils.APP_BASE_URL = '@Url.Content("~")';

    </script>

    @RenderSection("scripts", required: false)

</body>
</html>
