@model IEnumerable<MATA.Data.DTO.AccountDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Hesaplar</h2>

<p>
    @Html.ActionLink("Yeni Oluştur", "_Create", null, new { id = "mt-link-accounts-create" })
</p>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FullName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td>
                    @Html.ActionLink("Güncelle", "Edit", new { id = item.ID }, new { @class = "mt-link-accounts-edit", data_account_id = item.ID })
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/ts/mata.accounts-controller.js"></script>

    <script type="text/javascript">

        $(function () {

            $('#mt-link-accounts-create').click(function (e) {
                e.preventDefault();
                MATA.Accounts.openCreateModal();
                return false;
            });

            $('.mt-link-accounts-edit').click(function (e) {
                e.preventDefault();
                var $this = $(this),
                    accountID = $this.data("accountId");
                MATA.Accounts.openEditModal(accountID);
                return false;
            });

        });

    </script>
}
