@model MATA.Presentation.Web.Models.Accounts.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Html.Localize("Login")</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    
    <div class="container">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h2 class="text-center">
                        <img src="~/Content/Images/logo.png" />
                    </h2>
                    @using (Html.BeginForm("Login", "Accounts", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.HiddenFor(m => m.ReturnUrl)

                        <div class="form-group">
                            @Html.LabelFor(m => m.Email)
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", autofocus = "autofocus" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password)
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default btn-block">@Html.Localize("Login")</button>
                        </div>
                        <div class="form-group text-center">
                            <a id="mt-link-accounts-forgot-password" href="javascript:void(0);">@Html.Localize("ForgotPassword")</a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    <div id="mata-generic-modal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/noty")
    @Scripts.Render("~/bundles/ts")

    <script src="~/ts/mata.accounts-controller.js"></script>

    <script type="text/javascript">

        MATA.Utils.APP_BASE_URL = '@Url.Content("~")';

        $(function () {

            $('#mt-link-accounts-forgot-password').click(function (e) {
                e.preventDefault();
                accountsController.openForgotPasswordModal();
                return false;
            });

        });

    </script>

</body>
</html>
