@model MATA.Data.DTO.Models.CityDTO

@{
    ViewBag.Title = Model.CityName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.CityName</h2>

<div class="row">

    <div class="col-sm-4">

        <div class="panel panel-default">
            <div class="panel-body">

                <h4>
                    @Html.Localize("CityInfo")
                    @if (User.IsInRole(RoleTypes.Admin) || User.IsInRole(RoleTypes.Staff))
                    {
                        <a href="@Url.Action("_Edit", "Cities", new { id = Model.ID })" class="pull-right">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                    }
                </h4>
                <hr />

                <dl class="">

                    <dt>
                        @Html.DisplayNameFor(model => model.CityName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CityName)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.CountryName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.CountryName)
                    </dd>

                </dl>
            </div>
        </div>

    </div>

    <div class="col-sm-8">

        @Html.PartialViewContainer(Url.Action("_CityStores", "Stores", new { cityID = Model.ID, page = 1 }))

        @Html.PartialViewContainer(Url.Action("_CityIssues", "Issues", new { cityID = Model.ID, page = 1 }))

    </div>
</div>

@section scripts{

    @Scripts.Render("~/bundles/jqueryval")

    <script src="~/ts/mata.cities-controller.js"></script>

    <script type="text/javascript">

        window.onload = function () {
            MATA.Utils.initPartialViewContainers();
        }

    </script>

}
